/* ====================== Change Body gradient Css Start =================*/
.change-gradient {
    /* Ces lignes définissent les variables de dégradé, comme avant */
    --main-gradient: linear-gradient(312deg, hsl(var(--main)) 5.38%, hsl(var(--main-three)) 113.21%);
    --main-gradient-rev: linear-gradient(312deg, hsl(var(--main-three)) 5.38%, hsl(var(--main)) 113.21%);

    
    /* Vous pouvez aussi utiliser 'background:' si vous ne voulez pas d'autre style de background */
    /* background: var(--main-gradient); */ 
}
/* ====================== Change Body gradient Css End =================*/